<!--
/**********************************************************************
*
* kwNgUiFuse/toolbar/row/info/kwUiToolbarRowInfo.ts
*
* author: Patrick Dooley
*
*
**********************************************************************
*
* Copyright (c) 2017 iTKunst corporation
*
**********************************************************************/
-->

<mat-toolbar-row
    class="toolbar-bottom py-16"
    fxLayout="column"
    fxLayoutAlign="center center"   >


    <img    class="info contact-info huge m-0"
            [src]="sSrc"
            [alt]="sText"   >

    <div    class="contact-name mt-8">
        {{sText}}
    </div>

</mat-toolbar-row>


